h1{
    color:aqua;
    font-family:cursive;
    font-size: medium;
}
body{
    background-image: linear-gradient(120deg, #C34A2C,#008080);
    color: rgb(247, 247, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
